
.ui-controlgroup-vertical {
    width: 150px;
 }
.ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
      text-align: center;
    }
#car-type-button {
    width: 120px;
}
.ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
}

.ui-menu { width: 150px; }



fieldset {
    border: 0;
}
label {
  display: block;
  margin: 30px 0 0 0;
}
.overflow {
  height: 200px;
}

label {
    display: inline-block;
    width: 5em;
  }